*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-rows: 22vh min-content; }

.section {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right top, #006bc9, #008ecc, #00b0cc, #00ccc5, #00b593); }

.navbar {
  display: flex;
  align-items: center;
  height: 5vh;
  justify-content: space-between;
  margin: 3.5rem auto;
  width: 62%; }
  .navbar .logo {
    font-size: 3.5rem; }
  .navbar a {
    text-decoration: none;
    color: #fff; }
  .navbar .links ul {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    list-style: none; }
  .navbar .links li {
    padding: 1rem 1.6rem; }
    .navbar .links li i {
      font-size: 1.5rem; }
  .navbar .links a {
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif; }

.blog-container {
  background: #f8f8f8;
  position: relative;
  display: flex;
  z-index: 9000;
  padding-bottom: 15rem; }
  .blog-container .blog__posts {
    background-color: #fff;
    width: 62%;
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.15);
    margin: 0 auto;
    margin-top: -10rem; }
  .blog-container .blog__post {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    justify-items: flex-start;
    padding: 5rem 2rem;
    position: relative;
    margin-bottom: 15rem;
    margin-top: 15rem; }
    .blog-container .blog__post--letter {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      font-size: 26rem;
      position: absolute;
      color: rgba(0, 0, 0, 0.07);
      user-select: none;
      left: -10%;
      top: 0%;
      text-transform: uppercase;
      pointer-events: none; }
    .blog-container .blog__post--code {
      position: relative;
      text-align: center;
      margin: 3rem 0;
      padding: 8rem 8rem 7rem;
      border: 1px double rgba(0, 0, 0, 0.1); }
      .blog-container .blog__post--code::before {
        position: absolute;
        content: "\201D";
        font-family: "Domine", serif;
        font-size: 3.5rem;
        width: 4rem;
        height: 4rem;
        color: #fff;
        background-color: #00b593;
        border-radius: 20rem;
        padding-top: 1rem;
        padding-right: 0.2rem;
        top: -6%;
        left: 50%;
        transform: translateX(-50%); }
      .blog-container .blog__post--code-text {
        font-size: 1.8rem;
        font-family: "Domine", serif;
        font-weight: 400;
        line-height: 3.2rem;
        color: #444444; }
    .blog-container .blog__post .heading-2 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 4.8rem;
      text-transform: uppercase;
      color: #333333;
      letter-spacing: 0.1rem; }
    .blog-container .blog__post .heading-3 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 3.5rem;
      text-transform: uppercase;
      color: #333333;
      letter-spacing: 0.1rem;
      margin: 2rem 0; }
    .blog-container .blog__post--paragraph {
      font-family: "Domine", serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3rem;
      margin: 2.5rem 0; }
    .blog-container .blog__post--date {
      font-family: "Domine", serif;
      color: #888888;
      margin-top: 1rem;
      margin-left: 0.3rem;
      font-size: 1.3rem; }
      .blog-container .blog__post--date a {
        font-family: "Domine", serif;
        color: #888888;
        text-decoration: none; }
